body {
	font-size: 16px;
	color: #70665C;
	background-color: #F5EBD6;
	font-family: 'Muli', sans-serif;
}
/* HEADER */
#header-nav {
	background-color: #B8997A;
	border-radius: 0;
	border-bottom: 1px solid #70665C
}
.navbar-header h1 { /* Company name*/
	color: #524b44;
	font-size: 2em;
	padding: 10px 0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #524b44;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .6;
	vertical-align: middle;
}
.navbar-header a {
	height: 70px;
}
.navbar-header a:hover, .navbar-header a:focus {
	text-decoration: none; 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #70665C;
}

#nav-list {
	margin: 0 -15px 0;
}
#nav-list a {
	font-size: 1.2em;
	color: #F5EBD6;
	text-align: center;
} 
#nav-list a:hover {
	background: #EDE8DE;
	color: #70665C;
}
#chicken, #beef {
	border-bottom:  1px solid #70665C; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #70665C;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:hover > .icon-bar,
.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:focus > .icon-bar {
    border: 1px solid #F5EBD6;
    background-color: #B8997A
}

.navbar-default {
	border: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #B8997A;
}

.navbar-header button.navbar-toggle:visited, .navbar-header button.navbar-toggle:visited > .icon-bar {
    background-color: #B8997A
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #B8997A;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -50px;
}

